@model ProfileFormViewModel
@{
    ViewData["Title"] = "Edit Profile"; 
}

<form asp-action="Edit" method="post">
    <h2>Modify @Model.UserName Account </h2>
    <hr />
    @*Emaill*@
    <input  type="hidden" asp-for="Id"/>
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="form-floating">
        <input asp-for="Email" class="form-control" autocomplete="Email" aria-required="true" />
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <br />
    @*Emaill*@

    <div class="form-floating">
        <input asp-for="FullName" class="form-control" autocomplete="fullname" aria-required="true" />
        <label asp-for="FullName"></label>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <br />
    <div class="form-floating">
        <input asp-for="UserName" class="form-control" autocomplete="UserName" aria-required="true" />
        <label asp-for="UserName"></label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <br />
  
    <button type="submit" class="w-100 btn btn-lg btn-primary d-block mt-4">Save</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}