@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<h1> Roles </h1>>
<partial name="_RoleForm" model="new RoleFormViewModel()" />
<table class="table table-striped mt-4">

    <thead class="bg-primary text-white">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
       
    </thead>
    <tbody>
        @foreach(var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
            </tr>
      
        }
    </tbody>

</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}